<div class="container">
  <div>
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <div class="h1">
      Escucha y arma tu play list y tus cantantes favoritos
    </div>
    <div>
      <ul>
        <li>Samuel</li>
        <li>Enrique</li>
        <li>Muñoz</li>
        <li>Vnegas</li>
        <li>salas</li>
        <li>alex</li>
        <li>veneguitas del ahorro</li>
        <li>san salas</li>
      </ul>
    </div>
    <div>
      <button class="btn-primary">Iniciar</button>
    </div>
  </div>
</div>
